@import "../../less/variables.less";
.cv-header {
    background-color: @pink-lighest;
    .cv-logo {
        width: 30%;
        @media screen and (min-width: @medium) {
            width: 20%;
        }
    }
    .cv-name {
        .title {
            font-weight: bold;
            color: @grey-dark;
            font-size: 7rem;
            @media (max-width: @small) {
                font-size: 2rem;
            }
            .name {
                color: @orange;
                display: block;
                font-size: 7rem;
                @media (max-width: @small) {
                    font-size: 2rem;
                }
            }
        }
        span {
            font-size: 16px;
        }
        .cv-description-text {
            color: @grey;
        }
        .cv-scroll-bottom {
            cursor: pointer;
            color: @grey-dark;
            &:hover {
                color: @orange;
            }
        }
    }
}

.cv-presentation {
    background-color: @grey-light;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    .cv-txt:before {
        background-image: url("../../assets/images/apostrophe.svg");
        content: "";
    }
    .cv-txt {
        p {
            font-size: 1.3rem;
            color: white;
            a {
                color: white;
                font-weight: 700;
                cursor: pointer;
            }
            .italic {
                font-style: italic;
            }
        }
    }
    .arrow-down {
        color: white;
        font-size: 2rem;
        display: block;
    }
}

.card-title {
    color: #333;
    position: absolute;
    margin-top: 15px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
}
