<div id="top" class="section white mb5 hide-on-small-only">
  <div class="ml10 mr10 mt3"><img src="assets/images/logo-alg.svg"></div>
</div>
<div class="cv-header section teal mb5">
  <div class="row center-align mt6 mb4" *ngIf="cv">
    <h1 class="title white-text mb2"> {{ cv.title }}
    </h1>
    <span class="white-text">{{ cv.description }}</span>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="cards-container" *ngIf="cv && cv.projects">
      <!-- Projets -->
      <div class="col s12 m6 l4" *ngFor="let project of cv.projects">
        <div class="card white darken-1 mb6">
          <a [routerLink]="['/projet/' + project.slug]">
            <div class="card-image">
              <img class="responsive-img" src="{{project.thumbnails[0].src}}">
            </div>
          </a>
          <span class="card-title center-align">{{project.title}}</span>
        </div>
      </div>
      <!-- End Projets -->
    </div>
  </div>
</div>
<div class="section teal">
  <div class="row center-align">
    <p>Téléchargez ici mon CV</p>
  </div>
</div>
<div class="section teal">
  <div class="row">
    <div class="fixed-action-btn">
      <a (click)="toTop()" class="btn-floating btn-large waves-effect waves-light grey lighten-1">
        <i class="material-icons">arrow_upward</i>
      </a>
    </div>
  </div>
</div>
