@background-color: #eee8e1;
@import "../less/variables.less";
footer {
    background-color: @background-color;
}

.block {
    opacity: 1;
}

.none {
    opacity: 0;
}

.btn-email {
    @media (max-width: @small) {
        overflow: hidden;
    }
}
