<main id="top" scrollTracker>
  <router-outlet>
  </router-outlet>
</main>
<footer class="section">
  <div id="mailto" class="row center-align mt2 mb2">
    <div class="col s12">
      <p>Pour me contacter</p>
      <a class="btn-contact btn-floating btn-large grey-text grey lighten-6" href="mailto:annelise.grangeon@gmail.com"><i class="material-icons">mail</i></a>
      <a class="btn-contact btn-git btn-floating btn-large grey-text grey lighten-6" href="https://github.com/AnneLiseGrangeon">
        <img src="assets/images/github.svg" alt="icon Git">
      </a>
    </div>
  </div>
  <div class="fixed-action-btn">
    <a (click)="toTop()" [class]="'btn-floating btn-large waves-effect waves-light grey lighten-6 ' + (buttonAppears ? 'block' : 'none')">
      <i class="material-icons">arrow_upward</i>
    </a>
  </div>
</footer>
